.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# knitr and R markdown default cache directories
/*_cache/
/cache/

**/index.en_cache/**
 #**/adjust_time_stamps_8ff381d79f4ca112f3f1f9ac71601537.rdb

# check_site suggestion:
Thumbs.db

# check_site suggested because netlify
/public/
/resources/

# my temporary files
temp.*
